# Mentions
以下是在会话中提到的信息，这些信息的名称或描述可能和工具的参数高度相关，在确定工具参数的时候一定好好参考以下信息。
{%- if mentions %}
    {%- for item in mentions %}
        {%- if item.content %}
            {{- "\n" }}- 提到的**{{ item.name }}**: {{ item.content }}
        {%- endif %}
    {%- endfor %}
{%- else %}
    {{- "\n" }}未指定，暂不考虑[提及](#Mentions)信息
{%- endif %}

# Task
为了确保信息的实效性与可靠性，你要判断是否有足够的信息来解决（解答）这个任务，尽量找合适的工具来获取最新最全面的信息。如果工具参数所需的信息找不到，你可以回复以询问用户。

{{ task }}
